* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none !important;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    ::-webkit-scrollbar {
        width: 5px;
      }
          ::-webkit-scrollbar-track {
        background: rgb(30, 30, 30);
      }
          ::-webkit-scrollbar-thumb {
        background: #818181;
      }
          ::-webkit-scrollbar-thumb:hover {
        background: rgb(30, 30, 30);
      }
}

body {
    background-color: rgb(30, 30, 30);
}

@font-face {
    font-family: pm;
    src: url(../Fonts/Poppins-Medium.ttf);
}

@keyframes title {
    0% {
        transform: rotate(none);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    90% {
        transform: rotate(none);
    }
}

.header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #f96209, #818181);
}

.logo_content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.logo_content img {
    height: 8vh;
    border-radius: 50%;
}

.logo_content h1 {
    font-family: 'Reggae One', cursive;
    margin-left: 12px;
    color: white;
    font-size: 36px;
}

.logo_content h1:hover {
    cursor: pointer;
    animation-name: title;
    animation-duration: 1s;
    animation-iteration-count: 2;
}

.button_groups {
    display: flex;
    flex-grow: 3;
    font-family: pm;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.button_left_content {
    display: flex;
    align-items: center;
    width: 50%;
}

.button_left_content label {
    font-size: 20px;
    color: #fff;
}

.button_left_content input {
    width: 100%;
    height: 5vh;
    background-color: rgba(255, 255, 255, 0.303);
    border: none;
    border-bottom: 3px solid #fff;
    border-radius: 20px;
    padding: 12px;
    margin: 0px 10px;
}

.button_right_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.button_right_content p {
    font-size: 18px;
    color: #fff;
}

.button_right_content a {
    margin-left: 16px;
    font-size: 18px;
    color: #fff;
    background-color: #f96209;
    border-radius: 10px;
    padding: 10px;
}

.button_right_content a:hover {
    background-color: #fff;
    color: #f96209;
    transition: .4s;
}

/* header end */

.navbar {
    background-color: rgba(30, 30, 30, 0.9);
    position: sticky;
    top: 0;
}

.navbar ul {
    padding: 16px 0px;
    display: flex;
    justify-content: center;
    gap: 45px;
}

.navbar a {
    font-family: pm;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

.navbar a:hover {
    cursor: pointer;
    color: #f96209;
    border-bottom: 2px solid #fff;
}

hr {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #fff;
}

/* navbar end */

.main_container {
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main_content {
    width: 90%;
}

.rooms_main_section {
    clear: both;
    padding: 20px;
    border: 4px solid;
    border-image: -webkit-linear-gradient(left, #f96209, #818181)1;
    background: linear-gradient(to right, #f96209, #818181);
}

.rooms_main_section:hover {
    box-shadow: 0px 0px 15px 10px #f961095f;
}

 .rooms_main_section img {
    float: left;
    width: 40%;
    height: 400px;
    margin-right: 15px;
    animation-name: title;
    animation-duration: 5s;
    animation-iteration-count: infinite;
 }

 .rooms_main_section p {
    text-align: justify;
    font-family: pm;
    color: #fff;
 }

 .rooms_main_section h2 {
    color: #000;
    font-size: 32px;
    font-family: pm;
 }

 .rooms_second_section {
    clear: both;
    padding: 20px;
    margin-bottom: 40px;
    border: 4px solid;
    border-image: -webkit-linear-gradient(left, #f96209, #818181)1;
    background: linear-gradient(to right, #f96209, #818181);
}

.rooms_second_section:hover {
    box-shadow: 0px 0px 15px 10px #f961095f;
}

 .rooms_second_section h3 {
    color: #000;
    font-size: 32px;
    font-family: pm;
 }

 .rooms_second_section p {
    text-align: justify;
    font-family: pm;
    color: #fff;
 }

 .rooms_second_section img {
    float: right;
    width: 40%;
    height: 400px;
    margin-left: 15px;
    animation-name: title;
    animation-duration: 5s;
    animation-iteration-count: infinite;
 }

.rooms_third_section {
    clear: both;
    padding: 20px;
    margin-bottom: 40px;
    border: 4px solid;
    border-image: -webkit-linear-gradient(left, #f96209, #818181)1;
    background: linear-gradient(to right, #f96209, #818181);
}

.rooms_third_section:hover {
    box-shadow: 0px 0px 15px 10px #f961095f;
}

.rooms_third_section h4 {
    color: #000;
    font-size: 32px;
    font-family: pm;
}

.rooms_third_section p {
    text-align: justify;
    font-family: pm;
    color: #fff;
}

.rooms_third_section img {
    float: left;
    width: 40%;
    height: 400px;
    margin-left: 15px;
    animation-name: title;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


.rooms_btn_group {
    margin-top: 16px;
    font-size: 16px;
    font-family: pm;
    background-color: transparent;
    border: none;
    padding: 12px 36px;
    font-weight: 600;
    border: 2px solid #000;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
 }

 .rooms_btn_group:hover {
    cursor: pointer;
    transition: 1.5s;
    box-shadow: inset 20px 10px 0px 0px #000;
 }

 .rooms_hr {
    margin: 60px auto;
 }

/* main content end */

.footer {
    background: linear-gradient(to left, #f96209, #818181);
    display: flex;
    margin-top: 40px;
    padding: 20px 0px;
}

.footer:hover {
    box-shadow: 0px 0px 15px 10px #f961095f;
}

.footer_left_container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 30px;
}

.footer_left_container div {
    display: flex;
    align-items: center;
    margin: auto 0;
    gap: 15px;
}

.footer_left_container img {
    height: 50px;  
}

.footer_left_container a {
    font-family: pm;
    font-size: 18px;
    color: #000;
}

.footer_right_container {
    padding: 30px;
    width: 60%;
    border-left: 3px solid #000;
}

.footer_right_container p {
    text-align: justify;
    font-family: pm;
    font-size: 18px;
    line-height: 1.7;
}
